---
// props
const props = Astro.props
---

<div class="mx-auto max-w-4xl py-12 px-6 lg:px-8 font-bold">
  <article class="prose lg:prose-xl">
    <div class="rounded-3xl mb-10">
    <img class="h-full w-full object-cover border-white border-2 rounded-3xl" src={props.image}/>
  </div>
    <div class="bg-white bg-opacity-15 rounded-3xl">
    <h1 class="text-white ml-10 mt- mb-3">{props.title}</h1>
    <div class="mb-3 flex flex-row">
    {props.genres.map((genre: string) => (
      <span class="mr-5 text-white ml-10">{genre}</span>
    ))}
    </div>
    <p class="whitespace-pre-line text-white font-bold ml-10 mb-5">
      {props.description}
    </p>
    <p class="text-white font-bold ml-10">{props.body}</p>
  </div>
  </article>
</div>